/* =============
    Section 2
============= */
#section-2{
    background-color: $gray;
    
    #section-2-right{
        text-align: justify;
        padding: 30px 10px 50px 10px;
        
        h1{
            text-align: center;
        }
    }

    #shoes-img{
        background-image: url('../img/shoes.jpg');
        background-position: center;
        background-size: cover;
        height: 320px;
        
    }

    #section-2-right{

        @include md{
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-areas: "text img";

            #section-2-right{
                grid-area: text;
                margin: 10px 20px;
                
            }

            
        }

        @include lg{
            grid-template-columns: 50% 50%;
            grid-template-areas: "img text";

            #section-2-right{
                text-align: justify;
                padding: 110px 60px;
                font-size: rem-calc(18);
            }

            #shoes-img{
                height: 600px;
                grid-area: img;
            }
        }

        @include xl{
            padding-left: 100px;
            padding-right: 100px;
        }

    }

}